/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 419px) {
    .content{
      min-height: 235px;
    }
  }

/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {

    #jewellery_main_slider a.carousel-control-prev {
        left: 20px;
        top: 86%;
    }
    #jewellery_main_slider a.carousel-control-next {
        right: 20px;
        top: 86%;
    }

    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .lkk{
    margin-left: -18px;
  }
  .com-u{
    display: none;
  }
  .addr {
    margin-left: auto;
    margin-top: -2px;
    margin-right: 0px;
    font-size: 12px;
  }
  .mul{
    font-size: 10px;
  }
    .tx-icon {
     font-size: 10px;
    }
    .icon-and-supporting-text-2 {
      margin-left: auto;
    }
    .icon-and-supporting-text-3 {
      margin-left: auto;
    }
    .icon-and-supporting-text-1 {
      margin-left: auto;
    }
    .icon-com{
      width: 20px;
      height: 20px;
    }
    .address {
      margin-right: auto;
      margin-left: 0px;
      margin-top: 5px;
    }
    .content {;
      min-height: auto;
    }
    .rectangle-2 {
      height: 205px;
      object-fit: cover;
      width: 100%;
    }

    .footer-card {
        display: none;
    }
    .footer-card-3 {
        display: none;
    }
    .banner_bg_main {
        background-size: 100% 100%;
    }
    .tshirt_img {
        margin: 20px 0px;
        min-height: 360px;
    }
    #main_slider a.carousel-control-next {
        right: 40px;
        top: 110%;
    }
    #main_slider a.carousel-control-prev {
        left: 40px;
        top: 110%;
    }
    .electronic_img {
        margin: 20px 0px;
        min-height: 280px;
    }
    #jewellery_main_slider a.carousel-control-prev {
        left: 25px;
        top: 105%;
    }
    #jewellery_main_slider a.carousel-control-next {
        right: 25px;
        top: 105%;
    }
    #main_slider a.carousel-control-prev {
        left: 25px;
        top: 105%;
    }
    #main_slider a.carousel-control-next {
        right: 25px;
        top: 105%;
    }
    #electronic_main_slider a.carousel-control-prev {
        left: 25px;
        top: 105%;
    }
    #electronic_main_slider a.carousel-control-next {
        right: 25px;
        top: 105%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
  .li-auth{
    display: inline;
  }
  .lk {
    margin-left: -3px;
  }
  .icon-and-supporting-text {
    margin-left: -10px;
  }
  .tags {
    min-width: 100%;
  }
  .tags {
    min-width: 100%;
  }

    .form-inline {
      display: none;
    }
  .com-u{
    display: none;
  }
  .image {
    display: none;
  }
  .heading-and-subheading {
      margin-top: 10px;
    }
    .r-top{
    margin-top: -130px;  
    }
    .input-1 {
    min-width: 325px;
    }
    .dropdown-6 {
      margin-left: 280px;
      margin-top: -71px;
    }
    .dropdown-2 {
      margin-left: 25px;
      margin-top: 15px;
    }
    .dropdown-4 {
      margin-left: 25px;
      margin-top: 15px;
    }
    .hr-lg {
      margin-left: 18px;
    }

    .mulai-rp {
      margin-left: 32px;
      margin-top: -20px;
    }
    .tx-sold {
     font-size: 10px;
    }
    .addr {
      margin-right: auto;
      margin-left: 0px;
      margin-top: 23px;
    }
    .tx-icon {
     font-size: 10px;
    }
    .icon-and-supporting-text-2 {
      margin-left: auto;
    }
    .icon-and-supporting-text-3 {
      margin-left: auto;
    }
    .icon-and-supporting-text-1 {
      margin-left: auto;
    }
    .icon-com{
      width: 20px;
      height: 20px;
    }
    .address {
      margin-right: auto;
      margin-left: 0px;
      margin-top: 5px;
    }
    .content {;
      min-height: auto;
    }
    .rectangle-2 {
      height: 205px;
      object-fit: cover;
      width: 100%;
    }

    .footer-card {
        display: none;
    }
    .footer-card-3 {
        display: none;
    }
    .card{
        margin-bottom: 30px;
    }
    .tx-lf {
      font-size: 24px;
    }

    .tx-rg {
      color: #fff;
      font-size: 16px;
    }
    
    .menu{
        margin-left: auto;
        margin-right: -65px;
    }
    .text-urun {
      font-size: 30px;
    }
    .banner_bg_main {
        background-size: 100% 100%;
    }

    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0px;
    }
    .dropdown {
        display: none;
    }
    .tshirt_img {
        margin: 20px 0px;
        min-height: 320px;
    }
    .banner_taital {
        font-size: 50px;
    }
    #main_slider a.carousel-control-next {
        right: 40px;
        top: 110%;
    }
    #main_slider a.carousel-control-prev {
        left: 40px;
        top: 110%;
    }
    .electronic_img {
        margin: 20px 0px;
        min-height: 190px;
    }
    
    #jewellery_main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #jewellery_main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
    #main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
    #electronic_main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #electronic_main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
    .input_bt {
        width: 100%;
    }

    .footer_section {
      align-items: center;
      display: flex;
      width: 100%;
      background-color: var(--falu-red);
      height: auto;
    }

    .tx-f {
      align-self: center;
      letter-spacing: 0;
      line-height: 20px;
      min-height: 40px;
      width: 100%;
      margin-left: 15px;
      margin-bottom: 160px;
    }

    .santara-app {
      margin-top: 0px;
      min-height: 72px;
      width: 267px;
      margin-right: auto;
      margin-left: 15px;
    }

    .santara-app2 {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin-right: auto;
      margin-left: 15px;
      margin-top: -80px;
      margin-bottom: 50px;
    }

    .ojk{
      width:180px;
      height: 180px;
      margin-top: -43px;
    }

    .aludi{
      margin-top: 16px;
      width:170px;
      height:65px;
    }


    .logo-ojk{
      margin-top: -10px;
    }

    .logo-aludi{
      margin-top: -157px;
      margin-left: 200px;
    }

    .copyright_section {
        margin-top: -1px;
    }

    .layout_padding {
        padding-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
  .li-auth{
    display: inline;
  }
  .tx-t{
    font-size: 9px;
  }
  .lk {
    margin-left: -3px;
  }
  .icon-and-supporting-text {
    margin-left: -10px;
  }
  .tags {
    min-width: 100%;
  }
  .tags {
    min-width: 100%;
  }

    .form-inline {
      display: none;
    }
  .com-u{
    display: none;
  }

  .image {
    display: none;
  }
  .heading-and-subheading {
      margin-top: 10px;
    }
    .r-top{
    margin-top: -130px;  
    }
    .input-1 {
    min-width: 325px;
    }
    .dropdown-6 {
      margin-left: 280px;
      margin-top: -71px;
    }
    .dropdown-2 {
      margin-left: 25px;
      margin-top: 15px;
    }
    .dropdown-4 {
      margin-left: 25px;
      margin-top: 15px;
    }
    .hr-lg {
      margin-left: 18px;
    }
    .mulai-rp {
      margin-left: 32px;
      margin-top: -20px;
    }
    .tx-sold {
     font-size: 10px;
    }
    .addr {
      margin-right: auto;
      margin-left: 0px;
      margin-top: 23px;
    }
    .tx-icon {
     font-size: 9px;
    }
    .icon-and-supporting-text-2 {
      margin-left: auto;
    }
    .icon-and-supporting-text-3 {
      margin-left: auto;
    }
    .icon-and-supporting-text-1 {
      margin-left: auto;
    }
    .icon-com{
      width: 14px;
      height: 14px;
    }
    .tx-np{
        width: 100%
        font-size: 12px;
    }
    .tx-pt{
        font-size: 14px;
    }
    .address {
      margin-right: auto;
      margin-left: 0px;
      margin-top: 5px;
    }
    .content {;
      min-height: auto;
    }
    .rectangle-2 {
      height: 205px;
      object-fit: cover;
      width: 100%;
    }

    .footer-card {
        display: none;
    }
    .footer-card-3 {
        display: none;
    }
    .card{
        margin-bottom: 30px;
    }
    .tx-lf {
      font-size: 18px;
    }

    .tx-rg {
      color: #fff;
      font-size: 12px;
    }
    .menu{
        margin-left: auto;
        margin-right: -55px;
    }
    .text-urun {
      font-size: 30px;
    }
    .banner_bg_main {
        background-size: 100% 100%;
    }
    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0px;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }
    .main {
        margin: 0px 0px;
    }
    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }
    .login_menu li {
        float: left;
        font-size: 14px;
    }
    .nav-link {
        padding: .4rem 0px;
        color: #fff;
    }
    .lang_box {
        background-color: transparent;
    }
    .banner_taital {
        font-size: 40px;
    }
    #my_slider a.carousel-control-prev {
        top: -10px;
    }
    #my_slider a.carousel-control-next {
        top: -10px;
    }
    .fashion_taital {
        font-size: 24px;
    }
    .fashion_section {
        padding-bottom: 100px;
    }
    .electronic_img {
        margin: 20px 0px;
        min-height: 145px;
    }
    .tshirt_img {
        margin: 20px 0px;
        min-height: 246px;
    }
    .jewellery_img {
        margin: 20px 0px;
        min-height: 0;
    }
    .shirt_text {
        font-size: 14px;
    }
    .price_text {
        font-size: 14px
    }
    .buy_bt a {
        font-size: 12px;
    }
    .seemore_bt a {
        font-size: 12px;
    }
    .box_main {
        padding: 20px 10px;
    }
    #jewellery_main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #jewellery_main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
    #main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
    #electronic_main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #electronic_main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }
    .location_main {
        padding: 30px 0px 30px 0px;
    }
    .form-inline {
      display: none;
    }

    .footer_section {
      align-items: center;
      display: flex;
      width: 100%;
      background-color: var(--falu-red);
      height: auto;
    }

    .tx-f {
      align-self: center;
      letter-spacing: 0;
      line-height: 20px;
      min-height: 40px;
      width: 100%;
      margin-left: 15px;
      margin-bottom: 160px;
    }

    .santara-app {
      margin-top: 0px;
      min-height: 72px;
      width: 267px;
      margin-right: auto;
      margin-left: 15px;
    }

    .santara-app2 {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin-right: auto;
      margin-left: 15px;
      margin-top: -80px;
      margin-bottom: 50px;
    }

    .ojk{
      width:180px;
      height: 180px;
      margin-top: -43px;
    }

    .aludi{
      margin-top: 12px;
      width:140px;
      height:70px;
    }


    .logo-ojk{
      margin-top: -10px;
    }

    .logo-aludi{
      margin-top: -157px;
      margin-left: 200px;
    }

    .copyright_section {
        margin-top: -1px;
    }

    .layout_padding {
        padding-bottom: 10px;
    }
    #jewellery_main_slider a.carousel-control-prev {
        left: 20px;
        top: 91%;
    }
    #jewellery_main_slider a.carousel-control-next {
        right: 20px;
        top: 91%;
    }
    #main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
    #electronic_main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #electronic_main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
}

@media (max-width: 575px) {
  .li-auth{
    display: inline;
  }
  .tx-t{
    font-size: 9px;
  }
  .lk {
    margin-left: -3px;
  }
  .icon-and-supporting-text {
    margin-left: -10px;
  }
  .tags {
    min-width: 100%;
  }
/*  .divider-1{
    display: none;
  }
  .divider-2{
    display: none;
  }
  .divider-3{
    display: none;
  }
  .divider-4{
    display: none;
  }
  .progress-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  min-height: 312px;
  width: 343px;
}

.progres-penerbit {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 28px;
  white-space: nowrap;
}

.progress {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 260px;
  width: 236px;
}

.progres-1 {
  align-items: center;
  display: flex;
  height: 36px;
  min-width: 236px;
}

.frame-1 {
  align-items: flex-start;
  background-color: var(--thunderbird);
  border-radius: 24px;
  display: flex;
  height: 34px;
  margin-left: -4px;
  min-width: 34px;
  padding: 4px;
}

.number {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 18px;
}

.info-progres {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 36px;
  width: 192px;
}

.pra-penawaran-saham {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}

.date {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}

.divider {
  height: 12px;
  margin-left: 13.0px;
  margin-top: 4px;
  width: 2px;
}

.progres-1 {
  align-items: center;
  display: flex;
  height: 36px;
  margin-top: 4px;
  min-width: 236px;
}

.penawaran-saham {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}

.date {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}

.pendanaan-terpenuhi {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}

.date-1 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}

.penyerahan-dana {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}

.date- {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}

.pembagian-deviden {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}

.date-4 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  white-space: nowrap;
}*/
  .com-u{
    display: none;
  }
  .image {
    display: none;
  }
    .heading-and-subheading {
      margin-top: 10px;
    }
    .r-top{
    margin-top: -130px;  
    }
    .input-1 {
    min-width: 325px;
    }
    .dropdown-6 {
      margin-left: 280px;
      margin-top: -71px;
    }
    .dropdown-2 {
      margin-left: 25px;
      margin-top: 15px;
    }
    .dropdown-4 {
      margin-left: 25px;
      margin-top: 15px;
    }

    .hr-lg {
      margin-left: 18px;
    }
    .mulai-rp {
      margin-left: 32px;
      margin-top: -20px;
    }
    .tx-sold {
     font-size: 10px;
    }
    .addr {
      margin-right: auto;
      margin-left: 0px;
      margin-top: 23px;
    }
    .tx-icon {
     font-size: 9px;
    }
    .icon-and-supporting-text-2 {
      margin-left: auto;
    }
    .icon-and-supporting-text-3 {
      margin-left: auto;
    }
    .icon-and-supporting-text-1 {
      margin-left: auto;
    }
    .icon-com{
      width: 14px;
      height: 14px;
    }
    .section{
        margin-top: 80px;
    }
    .tx-np{
        width: 100%
        font-size: 12px;
    }
    .tx-pt{
        font-size: 14px
    }
    .address {
      margin-right: auto;
      margin-left: 0px;
      margin-top: 5px;
    }
    .rectangle-2 {
      height: 205px;
      object-fit: cover;
      width: 100%;
    }

    .footer-card {
        display: none;
    }
    .footer-card-3 {
        display: none;
    }
    .card{
        margin-bottom: 30px;
    }
    .tx-lf {
      font-size: 18px;
    }

    .tx-rg {
      color: #fff;
      font-size: 12px;
    }

    .menu{
        margin-left: auto;
        margin-right: -15px;
    }

    .logo{
      height: 32px;
      width: 42px;
      margin-right: 10px;
    }

    .santara {
      letter-spacing: 0.56px;
      line-height: 30px;
      margin-left: 10px;
      min-height: 30px;
      white-space: nowrap;
    }
    .actions {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      min-height: 108px;
      width: 100%;
    }

    .button-2 {
      align-items: center;
      background-color: var(--thunderbird);
      border-radius: 8px;
      display: flex;
      height: 48px;
      width: 100%;
      padding: 0 114.5px;
      margin-left: 0px;
    font-weight: 500;
    }

    .button-2:hover {
      color: #fff;
      background-color: #c82333;
      border-color: #bd2130;
    }
    .button-3 {
      align-items: center;
      background-color: var(--mercury);
      border-radius: 8px;
      display: flex;
      height: 48px;
      margin-top: 12px;
      width: 100%;
      padding: 0 107px;
      margin-left: 0px;
    font-weight: 500;
    }

    .button-3:hover {
       color: #212529;
      background-color: #e2e6ea;
      border-color: #dae0e5;
    }
    .banner_section {
        width: 100%;
        float: left;
        padding-bottom: 60px;
        margin-top: -20px;
    }
    .text-mulai {
      font-size: 16px;
    }

    .text-daftar {
      font-size: 16px;
    }

    .tx-sb {
      letter-spacing: 0;
      line-height: 28px;
      margin-top: 16px;
      min-height: 112px;
      text-align: center;
      width: 100%;
    }
    .text-urun {
      font-size: 30px;
    }
    .tx-bn{
      letter-spacing: 0;
      line-height: 38px;
      min-height: 76px;
      text-align: center;
      width: 100%;
    }
    .form-inline {
      display: none;
    }
    .banner_bg_main {
        background-size: cover;
    }
    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0px;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }
    .main {
        margin: 0px 0px;
    }
    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }
    .login_menu li {
        float: left;
        font-size: 14px;
    }
    .nav-link {
        padding: .4rem 0px;
        color: #fff;
    }
    .lang_box {
        background-color: transparent;
    }
    .banner_taital {
        font-size: 24px;
    }
    #my_slider a.carousel-control-prev {
        top: -10px;
    }
    #my_slider a.carousel-control-next {
        top: -10px;
    }
    .fashion_taital {
        font-size: 24px;
    }
    .fashion_section {
        padding-bottom: 100px;
    }
    .electronic_img {
        margin: 20px 0px;
        min-height: 0;
    }
    .tshirt_img {
        margin: 20px 0px;
        min-height: 0;
    }
    .jewellery_img {
        margin: 20px 0px;
        min-height: 0;
    }
    #jewellery_main_slider a.carousel-control-prev {
        left: 20px;
        top: 86%;
    }
    #jewellery_main_slider a.carousel-control-next {
        right: 20px;
        top: 86%;
    }
    #main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
    #electronic_main_slider a.carousel-control-prev {
        left: 25px;
        top: 100%;
    }
    #electronic_main_slider a.carousel-control-next {
        right: 25px;
        top: 100%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }
    .location_main {
        padding: 30px 0px 30px 0px;
    }

    .footer_section {
      align-items: center;
      display: flex;
      width: 100%;
      background-color: var(--falu-red);
      height: auto;
    }

    .tx-f {
      align-self: center;
      letter-spacing: 0;
      line-height: 20px;
      min-height: 40px;
      width: 100%;
      margin-left: 15px;
      margin-bottom: 160px;
    }

    .santara-app {
      margin-top: 0px;
      min-height: 72px;
      width: 267px;
      margin-right: auto;
      margin-left: 15px;
    }

    .santara-app2 {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin-right: auto;
      margin-left: 15px;
      margin-top: -80px;
      margin-bottom: 50px;
    }

    .ojk{
      width:180px;
      height: 180px;
      margin-top: -43px;
    }

    .aludi{
      margin-top: 12px;
      width:140px;
      height:70px;
    }


    .logo-ojk{
      margin-top: -10px;
    }

    .logo-aludi{
      margin-top: -157px;
      margin-left: 200px;
    }

    .copyright_section {
        margin-top: -1px;
    }

    .layout_padding {
        padding-bottom: 10px;
    }
}