# Disable access to all file types except the following
Order deny,allow
Deny from all
<Files ~ ".(jpe?g|png|gif|pdf|docx|js|css|scss|ttf|woff|woff2|json|svg)$">
    Allow from all
</Files>

<FilesMatch ".(jpe?g|png|gif|pdf|docx|js|css|scss|ttf|woff|woff2|json|svg)$">
    Order Deny,Allow
    Allow from all
</FilesMatch>